In [11]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv("immo_data.csv")

In [13]:
data.columns

Index(['regio1', 'serviceCharge', 'heatingType', 'telekomTvOffer',
       'telekomHybridUploadSpeed', 'newlyConst', 'balcony', 'picturecount',
       'pricetrend', 'telekomUploadSpeed', 'totalRent', 'yearConstructed',
       'scoutId', 'noParkSpaces', 'firingTypes', 'hasKitchen', 'geo_bln',
       'cellar', 'yearConstructedRange', 'baseRent', 'houseNumber',
       'livingSpace', 'geo_krs', 'condition', 'interiorQual', 'petsAllowed',
       'street', 'streetPlain', 'lift', 'baseRentRange', 'typeOfFlat',
       'geo_plz', 'noRooms', 'thermalChar', 'floor', 'numberOfFloors',
       'noRoomsRange', 'garden', 'livingSpaceRange', 'regio2', 'regio3',
       'description', 'facilities', 'heatingCosts', 'energyEfficiencyClass',
       'lastRefurbish', 'electricityBasePrice', 'electricityKwhPrice', 'date'],
      dtype='object')

In [14]:
deleted_list = [ "heatingType", "telekomTvOffer", "telekomHybridUploadSpeed", "picturecount", "pricetrend", 
                "telekomUploadSpeed", "scoutId", "noParkSpaces", "firingTypes", "geo_bln", "yearConstructedRange",
               "houseNumber", "geo_krs","condition", "interiorQual", "petsAllowed","street", "streetPlain", "lift", 
                "baseRentRange","geo_plz", "thermalChar", "floor", "numberOfFloors", "noRoomsRange", 
                "livingSpaceRange", "regio3", "description", "facilities", "heatingCosts",
                "energyEfficiencyClass", "lastRefurbish",
               "electricityBasePrice", "electricityKwhPrice"]

In [15]:
data.drop(deleted_list, axis=1, inplace=True)

In [16]:
##Berlin_data = data[data["regio2"] == "Berlin" ]
##Hamburg_data = data[data["regio2"] == "Hamburg" ]
##Munchen_data = data[data["regio2"] == "MÃ¼nchen" ]

In [17]:
'''
def nan_counter(df):
    remaining_nan = {}
    for column in df.columns:
        remaining_nan[column] = df[column][df[column].isna() == True].size
    return remaining_nan
'''

'\ndef nan_counter(df):\n    remaining_nan = {}\n    for column in df.columns:\n        remaining_nan[column] = df[column][df[column].isna() == True].size\n    return remaining_nan\n'

In [18]:
## We check the NaN values and we decided to fix them.
###nan_counter(Hamburg_data)

In [19]:
## We decided that values more than 1000 for serviceCharge are outliers so made filter.
##Hamburg_data = Hamburg_data[Hamburg_data["serviceCharge"] < 1000]

In [20]:
##Hamburg_data.shape

In [21]:
##Hamburg_data.serviceCharge.hist()

In [22]:
data

,regio1,serviceCharge,newlyConst,balcony,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,typeOfFlat,noRooms,garden,regio2,date
0,Nordrhein_Westfalen,245.00,False,False,840.0,1965.0,False,True,595.0,86.00,ground_floor,4.0,True,Dortmund,May19
1,Rheinland_Pfalz,134.00,False,True,NaN,1871.0,False,False,800.0,89.00,ground_floor,3.0,False,Rhein_Pfalz_Kreis,May19
2,Sachsen,255.00,True,True,1300.0,2019.0,False,True,965.0,83.80,apartment,3.0,False,Dresden,Oct19
3,Sachsen,58.15,False,True,NaN,1964.0,False,False,343.0,58.15,other,3.0,False,Mittelsachsen_Kreis,May19
4,Bremen,138.00,False,True,903.0,1950.0,False,False,765.0,84.97,apartment,3.0,False,Bremen,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268845,Bayern,90.00,False,True,910.0,2016.0,False,True,820.0,90.00,roof_storey,3.0,False,Weilheim_Schongau_Kreis,Feb20
268846,Hessen,220.00,False,True,1150.0,1983.0,True,False,930.0,115.00,apartment,3.5,False,BergstraÃe_Kreis,May19
268847,Hessen,220.00,False,True,930.0,1965.0,False,True,650.0,95.00,apartment,4.0,True,Limburg_Weilburg_Kreis,Feb20
268848,Nordrhein_Westfalen,175.00,True,True,1015.0,2019.0,False,True,840.0,70.00,apartment,2.0,False,KÃ¶ln,May19
268849,Hessen,315.00,False,True,NaN,1972.0,True,True,935.0,77.00,apartment,3.0,False,Frankfurt_am_Main,Feb20

In [27]:
##df.dropna(subset = ["column2"], inplace=True)
data.dropna(subset = ["totalRent"], inplace=True)

In [28]:
data

,regio1,serviceCharge,newlyConst,balcony,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,typeOfFlat,noRooms,garden,regio2,date
0,Nordrhein_Westfalen,245.0,False,False,840.00,1965.0,False,True,595.00,86.00,ground_floor,4.0,True,Dortmund,May19
2,Sachsen,255.0,True,True,1300.00,2019.0,False,True,965.00,83.80,apartment,3.0,False,Dresden,Oct19
4,Bremen,138.0,False,True,903.00,1950.0,False,False,765.00,84.97,apartment,3.0,False,Bremen,Feb20
6,Sachsen,70.0,False,False,380.00,NaN,False,True,310.00,62.00,NaN,2.0,True,Mittelsachsen_Kreis,Feb20
7,Bremen,88.0,False,True,584.25,1959.0,False,True,452.25,60.30,ground_floor,3.0,False,Bremen,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268844,Nordrhein_Westfalen,80.0,False,False,670.00,NaN,False,False,590.00,85.00,roof_storey,3.0,False,Essen,Feb20
268845,Bayern,90.0,False,True,910.00,2016.0,False,True,820.00,90.00,roof_storey,3.0,False,Weilheim_Schongau_Kreis,Feb20
268846,Hessen,220.0,False,True,1150.00,1983.0,True,False,930.00,115.00,apartment,3.5,False,BergstraÃe_Kreis,May19
268847,Hessen,220.0,False,True,930.00,1965.0,False,True,650.00,95.00,apartment,4.0,True,Limburg_Weilburg_Kreis,Feb20
268848,Nordrhein_Westfalen,175.0,True,True,1015.00,2019.0,False,True,840.00,70.00,apartment,2.0,False,KÃ¶ln,May19

In [29]:
data.dropna(subset = ["livingSpace"], inplace=True)

In [31]:
data.dropna(subset = ["date"], inplace=True)

In [32]:
data

,regio1,serviceCharge,newlyConst,balcony,totalRent,yearConstructed,hasKitchen,cellar,baseRent,livingSpace,typeOfFlat,noRooms,garden,regio2,date
0,Nordrhein_Westfalen,245.0,False,False,840.00,1965.0,False,True,595.00,86.00,ground_floor,4.0,True,Dortmund,May19
2,Sachsen,255.0,True,True,1300.00,2019.0,False,True,965.00,83.80,apartment,3.0,False,Dresden,Oct19
4,Bremen,138.0,False,True,903.00,1950.0,False,False,765.00,84.97,apartment,3.0,False,Bremen,Feb20
6,Sachsen,70.0,False,False,380.00,NaN,False,True,310.00,62.00,NaN,2.0,True,Mittelsachsen_Kreis,Feb20
7,Bremen,88.0,False,True,584.25,1959.0,False,True,452.25,60.30,ground_floor,3.0,False,Bremen,Feb20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268844,Nordrhein_Westfalen,80.0,False,False,670.00,NaN,False,False,590.00,85.00,roof_storey,3.0,False,Essen,Feb20
268845,Bayern,90.0,False,True,910.00,2016.0,False,True,820.00,90.00,roof_storey,3.0,False,Weilheim_Schongau_Kreis,Feb20
268846,Hessen,220.0,False,True,1150.00,1983.0,True,False,930.00,115.00,apartment,3.5,False,BergstraÃe_Kreis,May19
268847,Hessen,220.0,False,True,930.00,1965.0,False,True,650.00,95.00,apartment,4.0,True,Limburg_Weilburg_Kreis,Feb20
268848,Nordrhein_Westfalen,175.0,True,True,1015.00,2019.0,False,True,840.00,70.00,apartment,2.0,False,KÃ¶ln,May19

In [33]:
data.to_csv("heat_map.csv", index=False)